h1 {color: bisque}

#submit {
    background-color: #bbb;
    padding: .5em;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 6px;
    color: #fff;
    font-family: 'Oswald';
    font-size: 20px;
    text-decoration: none;
    border: none;
}

#submit:hover {
    border: none;
    background: orange;
    box-shadow: 0px 0px 1px #777;
}